/*
*   Main site header and bio styles, including h1, h2, h3, and h4.
*/
.background-color {
    background-color: #cceeff;
}

.header-image{
    position: relative;
    width: 30%;
    min-width:300px;
    left: 35%;
    right: 35%;
    top: 25px;
    text-align: center;
    float: center;
}

h1 {
    text-align:center;
    font-family: mistral, courier;
    font-size:5em;
    font-weight: bold;
}

h2 {
    font-size:1.5em;
    font-weight: bold;
    margin-left:20%;
    margin-right:20%;
    text-align:left;
}

h3 {
    font-family: mistral, courier;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

h4 {
    font-family: mistral, courier;
    text-align: center;
    font-size:;
    font-weight: bold;
}

footer {
    font-family: courier;
    font-size: 0.8em;
    text-align:center;
    float:bottom;
    margin-top: 100px;
}

.menubartxt {
    font-family:mistral, courier;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

.site-bio {
    text-align:center;
    font-weight: 550;
}

.main-info-text{
    font-family: Bradley Hand, cursive;
}

/*
*   Sets margins for profile picture on home page
*/
.profile-picture {
    float:right;
    margin-left:2em;
    min-width: 300px;
}

/*
*   Style to position LinkedIn badge on home page
*/
.linkedin-profile-badge {
    float:right;
    margin-left:2em;
    margin-right: 20%;
    margin-top: 15px;
    min-width: 300px;
}

/*
*   Boundaries set for text on home page
*/
.profile-body {
    margin-left:20%;
    margin-right:20%;
    text-align:left;
}


/*
*
*   Styling for site menu bar
*
*/

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: hidden; /* Overflow due to float */
    font-family: mistral, courier;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; /* Equal width (4 icons with 25% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Added transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
    font-family: mistral, courier;
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
    color: white !important;
}

.active {
    background-color: #ffae00; /* Add an active/current color */
    color: black !important;
}


/*
*
*   Styling for dropdown from photos icon on menu bar
*
*/

/*
*   The dropdown container
*/
.dropdown {
  float: left;
  width: 25%;
  overflow: hidden;
}

/*
*   Dropdown button
*/
.dropdown .dropbtn {
  font-size: 36px;
  border: none;
  outline: none;
  float: center;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  width: 390%;
}


/*
*   Dropdown content (hidden by default)
*/
.dropdown-content {
  display: none;
  width: 24.6%;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
}

/*
*   Links inside the dropdown
*/
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: mistral, courier;
  font-weight: bold;
  width: 100%;
}

/*
*   Add a grey background color to dropdown links on hover
*/
.dropdown-content a:hover {
  background-color: #000;
}

/*
*   Show the dropdown menu on hover
*/
.dropdown:hover .dropdown-content{
  display: block;
  color: white;
}

.video-section{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 20%;
	overflow: hidden;
}

.video {
    position: relative;
    top: 20%;
    bottom:20%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 400px;
}